@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<main aria-labelledby="title">
    <hgroup>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</main>
